/* styles.css */

body {
  font-family: 'Comfortaa', cursive;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, #e0f7fa 100%);
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
  background-repeat: repeat;
  color: #333;
}

.brand-color {
  color: #87CEEB;
}

.gold {
  color: #D4AF37;
}

.btn-vanidoya {
  background-color: #87CEEB;
  border: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-vanidoya:hover {
  background-color: #6bbad0;
  box-shadow: 0 0 10px #87CEEB;
}

.icon-btn {
  color: #D4AF37;
  transition: transform 0.3s;
}

.icon-btn:hover {
  transform: scale(1.2);
}

.modal-header, .modal-footer {
  border: none;
}

textarea::placeholder {
  color: #aaa;
}

.position-absolute img {
  width: 24px;
  height: 18px;
  margin-left: 6px;
}

